// Fonts
// @import url('https://fonts.googleapis.com/css?family=Poppins');

@import 'font';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: $font-family;
    line-height: $line-height-base;
    color: $dark;
    
    @import 'overwrite';
    
    @import 'custom';

    @import 'extensions';

    @import 'auth';
    
    @import 'sidebar';

    @import 'main';

    @import 'animations';
}