.card{
    overflow: hidden;
    border-radius: $card-radius;

    .card-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .card-body-item{
            display: flex;
            align-items: center;

            img{
                margin-right: 12px;
            }

            h4{
                line-height: 24px;
            }
        }
    }

    h5{
        font-weight: 500;
        color: $dark;
        margin-bottom: 20px;
    }

    .custom-control-label{
        cursor: pointer;
    }

    .input-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: left;
    
        label{
            font-size: .9em !important;
            color: $dark;
            font-weight: normal;
            margin-bottom: 2px;
        }
    
        .form-control, .custom-file-input{
            border-radius: $radius;
            resize: none;
            width: 100%;

            &:focus{
                font-weight: 500;
            }
        }

        .invalid-feedback{
            display: block !important;
            // font-size: inherit !important;
        }
    } 
    
    .actions{
        text-align: right;
    
        button, a{
            height: 38px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.d-cards{
    min-height: 80px;
    min-width: 185px;
    border: none;
    margin-right: 32px;

    &:last-child{
        margin-right: 0;
    }
}

.bg-cards-primary{
    background-color: $d-primary;
}

.bg-cards-danger{
    background-color: $d-danger;
}

.bg-cards-warning{
    background-color: $d-warning;
}

.bg-cards-success{
    background-color: $d-success;
}

// **** GRID ***** //
.d-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 33%;
    column-gap: 32px;
    row-gap: 32px;

    h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 24px;
    }
}

.grid-card-group{
    .grid-items{
        display: flex;
        overflow-x: hidden;
        position: relative;

        .blur-end{
            position: absolute;
            right: 0;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 66.67%);
            min-height: 80px;
            min-width: 156px;            
        }
    }
}

.user-profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80px;
    height: 80px;

    img{
        margin-right: 8px;
        width: 48px;
        height: 48px;
        object-fit: fill;
    }

    h4{
        line-height: 24px;
    }

    .user-layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .items{
            .font-14{
                margin-right: 15px;
            }

            .h4{
                font-size: 20px;
            }
        }
    }

    .divider{
        background-color: #F0F0F0;
        width: 89px;
        height: 1px;
        margin: 1px 0;
    }
}

.grid-statistic{
    .px-3{
        margin-bottom: 30px;
    }
}