/* .sticky-top{
    top: 15px !important;
} */

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $white;
    height: 60px;
    margin-bottom: 44px;
    

    .btn-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        width: 42px;
        transform: scaleX(-1);
        border: none;
        background-color: transparent;
        outline: none;
        color: #C4C4C4;

        .feather{
            width: 17px;
            height: 17px;
        }
    }

    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-input{
            margin-right: 27px;
            height: 37px;
            border-radius: $card-radius;
            border: 1px solid #E5E5E5;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 13px;

            input{
                border: none;
                outline: none;
            }

            &:focus-within{
                border: 1px solid $primary;
            }
        }
    }
}