.modal{
	display: none;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);

	.modal-content{
		background-color: #fff;
		margin: auto;
		width: 40%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		animation-name: animatetop;
		animation-duration: 0.4s;
    	overflow: hidden;
		border: none;
    	box-shadow: 1px 15px 50px rgba(0, 0, 0, .1);

		#close-modal{
			position: absolute;
			right: 10px;
			top: 10px;
			cursor: pointer;
			z-index: 1;
		}

		.modal-header,
		.modal-footer{
			border: none !important;
		}

		.modal-header{
			// @include flexbox(center, center);
			// flex-direction: column;
			padding-bottom: 15px !important;

			.modal-body{
				padding-left: 1rem;
				text-align: center;
				
				p{
					font-weight: normal !important;
					margin-bottom: 0;
				}
			}

			h3{
				margin-bottom: 20px;
			}

			.form-control{
				box-shadow: none;
				height: auto;
				margin-top: 10px;
				border-radius: 4px;
			}

			$field-container-padding: 5px;
			$label-padding: $field-container-padding !default;

			.field-container{
				position: relative;
				border: 2px solid #9E9E9E;
				height: $input-height;
				border-radius: $input-radius;
				padding-left: 12px;
				width: 100%;
				margin-bottom: 15px;

				&:focus-within {
					border: 1px solid #b1b6bd;
				}
			}

			.field-placeholder{
				position: absolute;
				top: 50%;
				transform: translate(#{$label-padding}, -50%);
				pointer-events: none;
				transition: all .1s ease-in-out;
				font-size: $font-size-base;
				color: $dark;
				background-color: transparent;
			}

			input.form-control,
			select.form-control{
				color: $dark;
				padding: $label-padding;	
				font-size: $font-size-base;
				display: block;
				box-shadow: none;
				border: none;
				outline: none;

				&.c-fix, &:focus, &:not(:placeholder-shown){
					border-color: transparent; 
				
					~ label {
						font-size: $font-12;
						top: calc(-10% - .4rem);
						left: 5px;
						transform: translate(#{$label-padding}, 0%);
						text-shadow: 0px 0px 10px rgba(179, 176, 176, 0.5);
						font-weight: 700;
						
					}
				}
			
				&::-webkit-input-placeholder {
					color: transparent;
				}

				&::-moz-placeholder {
					color: transparent;
				}

				&:-ms-input-placeholder {
					color: transparent;
				}
			}
		}

		.modal-footer{
			justify-content: space-between !important;

			button{
				padding: 3px 20px;
				font-weight: 700;
				@extend .font-16;
			}

			#btn-save{
				background-color: $primary;
				color: #fff;
			}
		}
	}

	/* Add Animation */
	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top: 0px; opacity:1}
	}
}

.alerts{
	border-radius: $radius;
	overflow: hidden;
}